<md-card class="card-basic half-width">
  <md-toolbar color="primary">Add Movie-Actor Relation</md-toolbar>
  <md-card-content>
    <form #addAmRelationForm="ngForm" (ngSubmit)="onSubmit()">
      <table class="compact-table-row">
        <tr>
          <td>
            <md-input placeholder="Movie"
                      class="full-width"
                      name="movie"
                      [(ngModel)]="relationForm.title">
                      <!--[md-menu-trigger-for]="movieMenu">-->
            </md-input>
            <!--<md-menu x-position="after" #movieMenu="mdMenu">-->
              <!--&lt;!&ndash;TODO: *ngFor&ndash;&gt;-->
            <!--</md-menu>-->
          </td>
        </tr>
        <tr>
          <td>
            <md-input placeholder="Actor"
                      class="full-width"
                      name="actor"
                      [(ngModel)]="relationForm.name">
                      <!--[md-menu-trigger-for]="actorMenu">-->
            </md-input>
            <!--<md-menu x-position="after" #actorMenu="mdMenu">-->
              <!--&lt;!&ndash;TODO: *ngFor&ndash;&gt;-->
            <!--</md-menu>-->
          </td>
        </tr>
        <tr>
          <md-input placeholder="Role" class="full-width"
                    name="role" [(ngModel)]="relationForm.role"></md-input>
        </tr>
      </table>
      <button md-mini-fab type="submit"><md-icon>check circle</md-icon></button>
    </form>
  </md-card-content>
</md-card>
