<md-card class="card-basic half-width" *ngIf="actorInfo">
  <md-toolbar color="primary">Actor Information</md-toolbar>
  <md-card-content>
    <table class="compact-table-row">
      <tr>
        <td><i>Name: </i>{{actorInfo.first}} {{actorInfo.last}}</td>
        <td><i>Sex: </i>{{actorInfo.sex}}</td>
      </tr>
      <tr>
        <td><i>Date of Birth: </i>{{actorInfo.dob}}</td>
        <td><i>Date of Death: </i>{{actorInfo.dod}}</td>
      </tr>
    </table>
  </md-card-content>
</md-card>

<md-card class="card-basic half-width" *ngIf="amRelations">
  <md-toolbar color="primary">Actor/Movie Relations</md-toolbar>
  <md-card-content>
    <table class="compact-table-row">
      <tr>
        <th>Role</th>
        <th>Movie Title</th>
      </tr>
      <tr *ngFor="let relation of amRelations">
        <td>{{relation.role}}</td>
        <td><a routerLink="/movie/{{relation.mid}}">{{relation.title}}</a></td>
      </tr>
    </table>
  </md-card-content>
</md-card>

