<md-card class="card-basic half-width">
  <md-toolbar color="primary">
    <span>Searching Page</span>
  </md-toolbar>
  <md-card-content>
    <form>
      <md-input
        placeholder="Search Actors or Movies..."
        class="full-width"
        [(ngModel)]="searchStr"
        name="search"
        (keyup)="search()"
      >
      </md-input>
      <section class="full-width">
        <md-checkbox name="searchActor" [(ngModel)]="searchActorOption">
          search actor
        </md-checkbox>
        <md-checkbox name="searchMovie" [(ngModel)]="searchMovieOption">
          search movie
        </md-checkbox>
      </section>
    </form>
  </md-card-content>
</md-card>

<md-list class="half-width" *ngIf="searchActorOption">
  <h3 md-subheader>Search Actors</h3>
  <md-list-item class="full-width">
    <p md-line>
      <a routerLink="/actor/25722" class="half-width">Tom Hanks</a>
      <span class="half-width">1997-01-01</span>
    </p>
  </md-list-item>
  <md-list-item *ngFor="let actor of actorRes" class="full-width">
    <p md-line>
      <a routerLink="/actor/{{actor.id}}" class="half-width"> {{actor.first}} {{actor.last}}</a>
      <span class="half-width"> {{actor.dob.getDate()}} </span>
    </p>
  </md-list-item>
</md-list>

<md-list *ngIf="searchMovieOption">
  <h3 md-subheader>Search Movies</h3>
  <md-list-item class="full-width">
    <p md-line>
      <a routerLink="/movie/4768" class="half-width">Tom Hanks</a>
      <span class="half-width">1997</span>
    </p>
  </md-list-item>
  <md-list-item *ngFor="let movie of movieRes" class="full-width">
    <p md-line>
      <a routerLink="/movie/{{movie.id}}" class="half-width"> {{movie.title}} </a>
      <span class="half-width"> {{movie.year}} </span>
    </p>
  </md-list-item>
</md-list>
