<md-card class="card-basic half-width">
  <md-toolbar color="primary">
    <span>Searching Page</span>
  </md-toolbar>
  <md-card-content>
    <form>
      <md-input
        placeholder="Search Actors or Movies..."
        class="full-width"
        [(ngModel)]="searchStr"
        name="search"
        (keyup)="search()"
      >
      </md-input>
      <section class="full-width">
        <md-checkbox name="searchActor" [(ngModel)]="searchActor">
          search actor
        </md-checkbox>
        <md-checkbox name="searchMovie" [(ngModel)]="searchMovie">
          search movie
        </md-checkbox>
      </section>
    </form>
  </md-card-content>
</md-card>
