<md-card class="card-basic half-width">
  <md-toolbar color="primary">Add new Movie</md-toolbar>
  <md-card-content>
    <form #addMovieForm="ngForm" (ngSubmit)="onSubmit()">
      <table class="compact-table-row">
        <tr>
          <td><md-input placeholder="Title" class="full-width"
                        name="title"
                        [(ngModel)]="movieForm.title"></md-input></td>
          <td><md-input placeholder="Company" class="full-width"
                        name="company"
                        [(ngModel)]="movieForm.company"></md-input></td>
        </tr>
        <tr>
          <td><md-input placeholder="Year" class="full-width"
                        name="year"
                        [(ngModel)]="movieForm.year"></md-input></td>
          <td>
            <md-input placeholder="MPAA Rating"
                      class="full-width"
                      [md-menu-trigger-for]="ratingMenu"
                      name="rating"
                      [(ngModel)]="movieForm.rating">
              <md-icon>arrow_drop_down</md-icon>
            </md-input>
            <md-menu x-position="after" #ratingMenu="mdMenu">
              <button md-menu-item *ngFor="let r of ratings" value={{r}}
                      (click)="updateRating(r)">
                {{r}}
              </button>
            </md-menu>
          </td>
        </tr>
      </table>
      <div class="checkBoxes">
        <i>Genres: </i>
        <br>
        <md-checkbox *ngFor="let genre of genres"
                     name={{genre.name}}
                     [(ngModel)]="genre.selected"
                     (ngModelChange)="onSelectGenre(genre.name, genre.selected)">
          {{genre.name}}
        </md-checkbox>
      </div>
      <button md-mini-fab type="submit"><md-icon>check circle</md-icon></button>
    </form>
  </md-card-content>
</md-card>
