<md-card class="card-basic half-width">
  <md-toolbar color="primary">Add new Actor/Director</md-toolbar>
  <md-card-content>
    <form>
      <table class="compact-table-row">
        <tr>
          <md-radio-group>
            <md-radio-button value="actor">Actor</md-radio-button>
            <md-radio-button value="director">Director</md-radio-button>
          </md-radio-group>
        </tr>
        <tr>
          <td><md-input placeholder="First Name" class="full-width"></md-input></td>
          <td><md-input placeholder="Last Name" class="full-width"></md-input></td>
        </tr>
        <tr>
          <md-radio-group>
            <md-radio-button value="male">Male</md-radio-button>
            <md-radio-button value="female">Female</md-radio-button>
          </md-radio-group>
        </tr>
      </table>

      <md-input class="full-width" placeholder="Date of Birth: 1997-05-05"></md-input>
      <md-input class="full-width" placeholder="Date of Die (leave blank if alive now)"></md-input>

      <button md-mini-fab type="submit"><md-icon>check circle</md-icon></button>
    </form>
  </md-card-content>
</md-card>
